* {
    box-sizing: border-box;
}

.page-title {
    width: 100 vw;
    height: 60px;
    line-height: 60px;
    justify-content: space-around;
    background-color: #022936;
    color: white;
    text-align: center;
}

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 5vw;
    width: 95vw;
}

.search-container {
    /* width: 30vw; */
    width: 30%;
    background-color: #f2f4f7;
}

.history-item {
    width: 100%;
    padding: 4px;
    border: 1px solid rgb(185, 178, 178);
}

.response-container {
    /* width: 70vw; */
    width: 70%;
    padding-left: 3mm;
}

.current-section {
    border: 1px solid rgb(185, 178, 178);
    padding: 5px;
}

.current-city {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: flex-start;
}

.current-city-name {
    padding-right: 10px;
}

.current-date {
    padding-right: 10px;
}

.uv-index {
    display: flex;
    flex-direction: row;
    /* height: 18px; */
}

.uv-index-text {
    padding-right: 5px;
}

.forecast-section {

}

.forecast {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.forecast-day {
    margin: 5px;
    background-color: #4382e0;
    padding: 5px;
}